* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.manhinh {
  position: relative;
  width: 240px;
}

/* input */
.manhinh > input {
  width: 100%;
  height: 100px;
  font-size: 20px;
  text-align: right;
  padding-right: 70px;
  box-sizing: border-box;
}

/* icon chung */
.manhinh i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.his {
  top: 10px;
}

#backspace {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

.banphim {
  display: flex;
  /* flex-wrap: wrap; */
}

.banphim > button {
  width: 60px;
  height: 40px;
}

.hiss {
  display: none;
}

.history {
  position: absolute;
  top: 27px;
  right: 10px;
  width: 220px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 3;
  cursor:pointer;
}
 #historyList {
    list-style-type: none;
 }